.navbar {
    display: flex;
    margin: -40px auto auto;
    width: 30%;
    
    justify-content: center;
    align-items:  center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5px;
}

.navbar div {
    padding: 0 10px;
}
