.gallery {
    width: 800px;
    margin: auto;
    box-shadow: 0 0 10px black;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transition: 0.4s ease-in-out;
}

.thumbnail {
    border-color: black;
}

.thumbnail:hover {
    border: 1px solid black;
}

.thumbnail:focus {
    border: 0 none black;
}

@media screen and (max-width: 915px) {
    .gallery {
        width: 600px;
    }
}

@media screen and (max-width: 700px) {
    .gallery {
        width: 350px;
    }
}
